<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li 
          role="presentation" 
          routerLinkActive="activeLink"
          [routerLinkActiveOptions]="{exact: true}">
          <!-- routerLinkActiveOptions needs a property binding because we have here not just one property link
          if we pass {} a js object it will not work without []-->
          <!-- you can add any name for this class and can attach it also for <a> tag-->
          <a routerLink="/">Home</a></li>
        <li 
          role="presentation" 
          routerLinkActive="activeLink">
          <a routerLink="/servers">Servers</a>
        </li>
        <li 
          role="presentation" 
          routerLinkActive="activeLink">
          <a routerLink="/users">Users</a>
        </li>
        <!-- if we need to add a long path it is better to use binding method and for this case
        [routerLink]="'/users', 'something'"-->
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
      <!-- it marks the place in the document where we want an angular router 
      to allow the componet to select a route-->
    </div>
  </div>
</div>
